<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Social2Lead.Web</title>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>
    <div id="ProgressIndicator">
        <div>&nbsp;</div>
        <!-- this will do the vertical align -->
        <img alt="Loading.." src="~/Images/loading.gif" />
    </div>
    <div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo" src="~/Images/logo.png" />
            </div>
        </div>
    </div>
    <div>
        <img src="~/Images/photo.jpg" class="visa-logo-image" />
        <img src="~/Images/Mastercard_Logo_06.png" class="master-logo-image" />
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mobius Logic, Inc.</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>